<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <!-- 默认数据库软件类型：Oracle,SqlServer,MySql-->
    <add key="ComponentDbType" value="SqlServer" />
    <!--数据库连接方式：直连Direct-Or-UnDirect非直连-->
    <add key="ConnectionWay" value="Direct"/>
    <!--数据库超时限制-->
    <add key="CommandTimeout" value="180"/>
    
    <!-- 日志路径 -->
    <add key="LogPath" value="c:\shtest\" />
    <add key="LogPathMES" value="c:\shtestMES\" />
    <!-- 日志清理时间（天） -->
    <add key="OverDay" value="180" />
    <!-- WMS_WIP系统用户ID -->
    <add key="WMSUserID" value="1121" />

    <!-- 数据库连接字符串 -->
    <!-- 直连模式 -->

    <!-- MCS接口服务器地址 -->
    <add key="WMSInTaskUrl" value="http://10.13.51.23:9001/api/intaskresult" />

    <!-- 自定义接口等待时间 -->
    <add key="ThreadWaitTime" value="10000" />
    <!-- 默认所有接口重复调用时间，在下面不定义的话使用此数据 -->
    <!-- name=接口代码名称 value=停留毫秒数 -->
    <add key="ThreadWithTaskIn" value="30000" />
  </appSettings>

  <connectionStrings>
   <add name="FAST3_Sqlserver" connectionString="Data Source=139.196.253.114;Initial Catalog=FAST3_WCS;User ID=sa;Password=okamura;Integrated Security=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>